* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout {
  
  display: flex;
  flex-direction: column;
}

.header {
  background: #1677dd;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 50px;
  padding: 8px 0;
  border-bottom: 4px solid #fff;
}

.main {
  display: flex;
  background: #fff;
  height: auto;

}

.nav {
  width: 110px;
  background: #61656c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-right: 6px solid #fff;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 10%;
}

.hero {
  background: #ef7f1a;
  text-align: center;
  padding: 28px 10px 34px;
  border-bottom: 4px solid #fff;
}

.hero h1 {
  font-size: 33px;
  font-weight: 800;
  margin-bottom: 8px;
}

.hero 2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 6px;
}

.hero 3 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 6px;
}


.hero button {
  border: none;
  background: #fff;
  color: #ef7f1a;
  font-weight: 700;
  border-radius: 4px;
  padding: 5px 22px;
  margin-top: 6px;
  cursor: pointer;
}

.services-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #79b82a;
  text-align: center;
  height: 90px;
  font-weight: 800;
  padding: 4px 0;
  margin-top: 2px;
  border-bottom: 4px solid #fff;
}

.services {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  background: #fff;

}

.service-card {
  flex: 1;
  background: #73ff4d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 3px;
  height: 200px;
}

.info {
  background: #7d56ae;
  text-align: center;
  font-weight: 800;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #fff;
  margin-top: 6px;
}

.footer {
  background: #2f333a;
  text-align: center;
  font-weight: 800;
  padding: 14px 0;
  margin-top: 3px;
}